body{
    background: white;
    font-family: 'Trebuchet MS' , Arial , sans-serif;
    color: rgb(82, 36, 4);
    padding: 0;
    margin: 0;
}
.grand-titre{
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}
.grand-titre h1{
    background:  rgb(109, 47, 3);
    color: white;
    border-radius: 5px;
    width: 22%;
    margin-left: 40%;
    height: 60px;
    text-align: center;
    margin-top: 5%;
    box-shadow: 0px 5px 5px #1c1a19;
}
.grand-titre h3{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 19px;
    margin-top: 2%;
    text-shadow: rgb(156, 116, 88) 0.1em 0.1em 0.2em;
}